This is the game

<p>
	Turns left: <%= @tally.turns_left %>
</p>
<p>
	Letters used: <%= @tally.used |> Enum.join(", ") %>
</p>
<p>
	Word so far: <%= @tally.letters |> Enum.join(" ") %>
</p>

 <.form :let={f} for={%{}} as={:make_move} action={~p"/hangman"} method="put"/>
   <.input field={f[:guess]} />
   <.button>Make next guess</.button>
 </.form>