<div id="game" class="columns-2">
	<div class="w-full">
		<pre>
			<%= figure_for(@tally.turns_left) %>
		</pre>
	</div>

	<div class="w-full">
		<._tally_info tally={@tally} />

    	<%= move_status(@tally.game_state) |> raw %>

    	<.continue_or_try_again state={@tally.game_state} />
	</div>
</div>
